{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'diary/css/style.css' %}" type="text/css">
{% endblock %}
{% block content %}
  <div class="container-field m-3">
    <form action="{% url 'diary:create' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        {% render_field form.title class="form-control form-control-lg" placeholder="タイトル" %}
      </div>
      <div class="form-group">
        {% render_field form.body class="form-control" placeholder="Markdown形式で本文を書こう" %}
      </div>
      {{ form.media }}
      <div class="footer">
        <div class="col">
          {% render_field form.user class="form-control" %}
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">保存</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}