.content-title {
  margin: 30px 0 60px 0;
}

.content-title h1 {
  margin-bottom: 20px;
}

.content-sub-title {
  margin-bottom: 30px;
}

.under-line {
  border-bottom: 1px solid black;
}

@media (max-width: 768px) {
  .content-title h1 {
    font-size: 1.7rem;
  }

  .content-sub-title h2 {
    font-size: 1.6rem;
  }
}